___

<a href='http://www.pieriandata.com'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Copyright by Pierian Data Inc.</em></center>
<center><em>For more information, visit us at <a href='http://www.pieriandata.com'>www.pieriandata.com</a></em></center>

# Groupby Operations and Multi-level Index

In [24]:
import numpy as np
import pandas as pd

## Data

In [52]:
df = pd.read_csv('mpg.csv')
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [26]:
df["horsepower"].replace(to_replace="?",value=0)

0      130
1      165
2      150
3      150
4      140
      ...
393     86
394     52
395     84
396     79
397     82
Name: horsepower, Length: 398, dtype: object

In [27]:
df2 = df["horsepower"].replace(to_replace="?",value=0)
df.iloc[df2.astype({"horsepower":'int'}).idxmax()]

mpg                           16.0
cylinders                        8
displacement                 400.0
horsepower                     230
weight                        4278
acceleration                   9.5
model_year                      73
origin                           1
name            pontiac grand prix
Name: 116, dtype: object

## groupby() method

In [28]:
# Creates a groupby object waiting for an aggregate method

#### Adding an aggregate method call. To use a grouped object, you need to tell pandas how you want to aggregate the data.

Common Options:

    mean(): Compute mean of groups
    sum(): Compute sum of group values
    size(): Compute group sizes
    count(): Compute count of group
    std(): Standard deviation of groups
    var(): Compute variance of groups
    sem(): Standard error of the mean of groups
    describe(): Generates descriptive statistics
    first(): Compute first of group values
    last(): Compute last of group values
    nth() : Take nth value, or a subset if n is a list
    min(): Compute min of group values
    max(): Compute max of group values
    
Full List at the Online Documentation: https://pandas.pydata.org/docs/reference/groupby.html

In [44]:
# model_year becomes the index! It is NOT a column name,it is now the name of the index

In [60]:
avg_year = df.groupby(["model_year","cylinders"]).mean(numeric_only=True)["weight"]
avg_year[70,4]

2292.5714285714284

In [ ]:
avg_year.index

In [ ]:
avg_year.columns

In [ ]:
avg_year['mpg']

In [ ]:
df.groupby('model_year').mean()['mpg']

In [ ]:
df.groupby('model_year').describe()

In [ ]:
df.groupby('model_year').describe().transpose()

## Groupby Multiple Columns
Let's explore average mpg per year per cylinder count

In [ ]:
df.groupby(['model_year','cylinders']).mean()

In [30]:
df.groupby(['model_year','cylinders']).mean().index

TypeError: agg function failed [how->mean,dtype->object]

# MultiIndex

## The MultiIndex Object

In [ ]:
year_cyl = df.groupby(['model_year','cylinders']).mean()

In [ ]:
year_cyl

In [ ]:
year_cyl.index

In [ ]:
year_cyl.index.levels

In [31]:
year_cyl.index.names

NameError: name 'year_cyl' is not defined

# Indexing with the Hierarchical Index

Full Documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/advanced.html

In [32]:
year_cyl.head()

NameError: name 'year_cyl' is not defined

## Grab Based on Outside Index

In [33]:
year_cyl.loc[70]

NameError: name 'year_cyl' is not defined

In [34]:
year_cyl.loc[[70,72]]

NameError: name 'year_cyl' is not defined

## Grab a Single Row

In [35]:
year_cyl.loc[(70,8)]

NameError: name 'year_cyl' is not defined

# Grab Based on Cross-section with .xs()

This method takes a `key` argument to select data at a particular
level of a MultiIndex.

Parameters
----------
    key : label or tuple of label
        Label contained in the index, or partially in a MultiIndex.
    axis : {0 or 'index', 1 or 'columns'}, default 0
        Axis to retrieve cross-section on.
    level : object, defaults to first n levels (n=1 or len(key))
        In case of a key partially contained in a MultiIndex, indicate
        which levels are used. Levels can be referred by label or position.

In [36]:
year_cyl.xs(key=70,axis=0,level='model_year')

NameError: name 'year_cyl' is not defined

In [37]:
# Mean column values for 4 cylinders per year
year_cyl.xs(key=4,axis=0,level='cylinders')

NameError: name 'year_cyl' is not defined

### Careful note!

Keep in mind, its usually much easier to filter out values **before** running a groupby() call, so you should attempt to filter out any values/categories you don't want to use. For example, its much easier to remove **4** cylinder cars before the groupby() call, very difficult to this sort of thing after a group by.

In [38]:
df[df['cylinders'].isin([6,8])].groupby(['model_year','cylinders']).mean()

TypeError: agg function failed [how->mean,dtype->object]

## Swap Levels

* Swapping Levels: https://pandas.pydata.org/pandas-docs/stable/user_guide/advanced.html#swapping-levels-with-swaplevel
* Generalized Method is reorder_levels: https://pandas.pydata.org/pandas-docs/stable/user_guide/advanced.html#reordering-levels-with-reorder-levels

In [ ]:
year_cyl.swaplevel().head()

## Sorting MultiIndex

* https://pandas.pydata.org/pandas-docs/stable/user_guide/advanced.html#sorting-a-multiindex

In [ ]:
year_cyl.sort_index(level='model_year',ascending=False)

In [ ]:
year_cyl.sort_index(level='cylinders',ascending=False)

# Advanced: agg() method

The agg() method allows you to customize what aggregate functions you want per category

In [ ]:
df

## agg() on a DataFrame

In [ ]:
# These strings need to match up with built-in method names
df.agg(['median','mean'])

In [ ]:
df.agg(['sum','mean'])[['mpg','weight']]

### Specify aggregate methods per column

**agg()** is very powerful,allowing you to pass in a dictionary where the keys are the columns and the values are a list of aggregate methods.

In [39]:
df.agg({'mpg':['median','mean'],'weight':['mean','std']})

              mpg       weight
median  23.000000          NaN
mean    23.514573  2970.424623
std           NaN   846.841774

## agg() with groupby()

In [40]:
df.groupby('model_year').agg({'mpg':['median','mean'],'weight':['mean','std']})

              mpg                  weight
           median       mean         mean          std
model_year
70          16.00  17.689655  3372.793103   852.868663
71          19.00  21.250000  2995.428571  1061.830859
72          18.50  18.714286  3237.714286   974.520960
73          16.00  17.100000  3419.025000   974.809133
74          24.00  22.703704  2877.925926   949.308571
75          19.50  20.266667  3176.800000   765.179781
76          21.00  21.573529  3078.735294   821.371481
77          21.75  23.375000  2997.357143   912.825902
78          20.70  24.061111  2861.805556   626.023907
79          23.90  25.093103  3055.344828   747.881497
80          32.70  33.696552  2436.655172   432.235491
81          31.60  30.334483  2522.931034   533.600501
82          32.00  31.709677  2453.548387   354.276713